@import '../../../../style/sass/abstracts/variables';
@import '../../../../style/sass/abstracts/mixins';

.form-license {
  display: flex;
  &__inputs {
    flex: 1;
  }
  &__delete {
    @include abs-midle-aling;
    margin-left: 2rem;
  }
}

.form-parent {
  display: flex;
  &__inputs {
    @include respond(md-phone) {
      flex: 1;
    }
  }
  &__delete {
    @include abs-midle-aling;
    margin-left: 2rem;
  }
}