@import '../../../style/sass/abstracts/variables';
@import '../../../style/sass/abstracts/mixins';
.phone-input {
  display: flex;
  justify-content: space-between;
  &__inputs {
    flex: 1;
    margin-bottom: 1rem;
    @include abs-midle-aling;
    @include respond(big-phone) {
      justify-content: space-between;
    }
  }
}

.phone {
  display: flex;
  align-items: center;
  @include respond(md-phone) {
    flex: 1;
  }
  &__code {
    width: 8rem;
    margin-right: .5rem;
  }
  &__number {
    flex: 2;
  }
 
}